VITE_API_URL=https://fffw8q7fo1.execute-api.ap-northeast-2.amazonaws.com/dev
VITE_COGNITO_USER_POOL_ID=ap-northeast-2_b63zs4Grm
VITE_COGNITO_CLIENT_ID=7hds3ppj4b5el0h3ak9u6gbb9c
VITE_COGNITO_REGION=ap-northeast-2
